@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpOversight.Domain
@using SFA.DAS.RoatpOversight.Web.Extensions
@model SFA.DAS.RoatpOversight.Web.Models.ApplicationsViewModel

@{
    ViewData["Title"] = "RoATP application outcomes";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP application outcomes</li>
    </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_ValidationSummaryPartial" />
            <span class="govuk-caption-xl">Oversight</span>
            <h1 class="govuk-heading-xl">RoATP application outcomes</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <partial name="_DashboardSearch" />

            <div class="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item @(string.IsNullOrEmpty(Model.SelectedTab) || Model.SelectedTab == "applications" ? "govuk-tabs__list-item--selected" : "")">
                        <a class="govuk-tabs__tab" id="tab_applications" asp-route-selectedTab="applications" asp-route-searchTerm="@Model.SearchTerm">
                            Applications (@Model.ApplicationCount)
                        </a>
                    </li>

                    <li class="govuk-tabs__list-item @(Model.SelectedTab == "outcomes" ? "govuk-tabs__list-item--selected" : "")">
                        <a class="govuk-tabs__tab" id="tab_outcomes" asp-route-selectedTab="outcomes" asp-route-searchTerm="@Model.SearchTerm">
                            Application outcomes (@Model.OverallOutcomeCount)
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item @(Model.SelectedTab == "appeals" ? "govuk-tabs__list-item--selected" : "")">
                        <a class="govuk-tabs__tab" id="tab_appeals" asp-route-selectedTab="appeals" asp-route-searchTerm="@Model.SearchTerm">
                            Appeals (@Model.AppealsCount)
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item @(Model.SelectedTab == "appealsoutcome" ? "govuk-tabs__list-item--selected" : "")">
                        <a class="govuk-tabs__tab" id="tab_appealsoutcome" asp-route-selectedTab="appealsoutcome" asp-route-searchTerm="@Model.SearchTerm">
                            Appeal outcomes (@Model.AppealsOutcomeCount)
                        </a>
                    </li>

                </ul>

                <div class="govuk-tabs__panel @(Model.SelectedTab != null && Model.SelectedTab != "applications" ? "govuk-tabs__panel--hidden" : "")" id="applications">
                    @if (Model.ApplicationCount > 0)
                    {
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <caption class="govuk-table__caption govuk-heading-l">Applications</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Organisation name</th>
                                    <th scope="col" class="govuk-table__header">UKPRN</th>
                                    <th scope="col" class="govuk-table__header">Provider route</th>
                                    <th scope="col" class="govuk-table__header">Application reference number</th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column selected-tab="applications" column-name="SubmittedDate" column-label="Application submitted date" default="true" default-order="Descending" />
                                    </th>
                                    <th scope="col" class="govuk-table__header">Outcome</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var application in Model.ApplicationDetails.Reviews)
                                {
                                    <tr class="govuk-table__row">
                                        <td data-label="Organisation name" class="govuk-table__cell">
                                            <a class="govuk-link govuk-!-margin-bottom-0" asp-action="Outcome" asp-route-id="@application.ApplicationId">
                                                @application.OrganisationName
                                            </a>
                                        </td>
                                        <td data-label="UKPRN" class="govuk-table__cell">@application.Ukprn</td>
                                        <td data-label="Provider route" class="govuk-table__cell">@application.ProviderRoute</td>
                                        <td data-label="Application reference number" class="govuk-table__cell">@application.ApplicationReferenceNumber</td>
                                        <td data-label="Application submitted date" class="govuk-table__cell">@application.ApplicationSubmittedDate.ToSfaShortDateString()</td>
                                        <td data-label="Outcome" class="govuk-table__cell">
                                            @{
                                                @if (application.Status == PendingOutcomeReviewStatus.Pass)
                                                {
                                                    <span class="govuk-tag das-tag--solid-green">Pass</span>
                                                }
                                                else if (application.Status == PendingOutcomeReviewStatus.Fail)
                                                {
                                                    <span class="govuk-tag das-tag--solid-red">Fail</span>
                                                }
                                                else
                                                {
                                                    <span class="govuk-tag govuk-tag--inactive">Removed</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l">No applications to assess.</p>
                    }
                </div>
                <div class="govuk-tabs__panel @(Model.SelectedTab != "outcomes" ? "govuk-tabs__panel--hidden" : "")" id="outcomes">
                @if (Model.OverallOutcomeCount > 0)
                {
                    <table class="govuk-table das-table--condensed das-table--responsive-wide">
                        <caption class="govuk-table__caption govuk-heading-l">Overall outcome</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Organisation name</th>
                                <th scope="col" class="govuk-table__header">UKPRN</th>
                                <th scope="col" class="govuk-table__header">Provider route</th>
                                <th scope="col" class="govuk-table__header">Application reference number</th>
                                <th class="govuk-table__header" scope="col">
                                    <sfa-roatp-sortable-column selected-tab="outcomes" column-name="SubmittedDate" column-label="Application submitted date" default="true" default-order="Descending" />
                                </th>
                                <th scope="col" class="govuk-table__header">Application determined date</th>
                                <th scope="col" class="govuk-table__header">Overall outcome</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var outcome in Model.OverallOutcomeDetails.Reviews)
                            {

                                <tr class="govuk-table__row">
                                    <td data-label="Organisation name" class="govuk-table__cell">
                                        <a class="govuk-link govuk-!-margin-bottom-0" asp-action="Outcome" asp-route-id="@outcome.ApplicationId">
                                            @outcome.OrganisationName
                                        </a>
                                    </td>
                                    <td data-label="UKPRN" class="govuk-table__cell">@outcome.Ukprn</td>
                                    <td data-label="Provider route" class="govuk-table__cell">@outcome.ProviderRoute</td>
                                    <td data-label="Application reference number" class="govuk-table__cell">@outcome.ApplicationReferenceNumber</td>
                                    <td data-label="Application submitted date" class="govuk-table__cell">@outcome.ApplicationSubmittedDate.ToSfaShortDateString()</td>
                                    <td data-label="Application determined date" class="govuk-table__cell">@outcome.ApplicationDeterminedDate.ToSfaShortDateString()</td>
                                    <td data-label="Overall outcome" class="govuk-table__cell">
                                        <span class="das-no-wrap @outcome.OversightStatus.GetCssClass()">@outcome.OversightStatus.GetLabel()</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="govuk-body-l">No overall outcomes.</p>
                }
            </div>
                <div class="govuk-tabs__panel @(Model.SelectedTab != "appeals" ? "govuk-tabs__panel--hidden" : "")" id="appeals">
                    @if (Model.AppealsCount > 0)
                    {
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <caption class="govuk-table__caption govuk-heading-l">Appeals</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Organisation name</th>
                                    <th scope="col" class="govuk-table__header">UKPRN</th>
                                    <th scope="col" class="govuk-table__header">Provider route</th>
                                    <th scope="col" class="govuk-table__header">Application reference number</th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column selected-tab="appeals" column-name="ApplicationSubmittedDate" column-label="Application submitted date" />
                                    </th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column selected-tab="appeals" column-name="ApplicationDeterminedDate" column-label="Application determined date" />
                                    </th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column selected-tab="appeals" column-name="AppealSubmittedDate" column-label="Appeal submitted date" default="true" default-order="Descending" />
                                    </th>                                    
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var outcome in Model.PendingAppealsDetails.Reviews)
                                {

                                    <tr class="govuk-table__row">
                                        <td data-label="Organisation name" class="govuk-table__cell">
                                            <a class="govuk-link govuk-!-margin-bottom-0" asp-action="Appeals" asp-route-id="@outcome.ApplicationId">
                                                @outcome.OrganisationName
                                            </a>
                                        </td>
                                        <td data-label="UKPRN" class="govuk-table__cell">@outcome.Ukprn</td>
                                        <td data-label="Provider route" class="govuk-table__cell">@outcome.ProviderRoute</td>
                                        <td data-label="Application reference number" class="govuk-table__cell">@outcome.ApplicationReferenceNumber</td>
                                        <td data-label="Application submitted date" class="govuk-table__cell">@outcome.ApplicationSubmittedDate.ToSfaShortDateString()</td>
                                        <td data-label="Application determined date" class="govuk-table__cell">@outcome.ApplicationDeterminedDate.ToSfaShortDateString()</td>
                                        <td data-label="Appeal submitted date" class="govuk-table__cell">@outcome.AppealSubmittedDate.ToSfaShortDateString()</td>                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l"> No applications to assess.</p>
                    }
                </div>
                <div class="govuk-tabs__panel @(Model.SelectedTab != "appealsoutcome" ? "govuk-tabs__panel--hidden" : "")" id="appealoutcome">

                    @if (Model.AppealsOutcomeCount > 0)
                    {
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <caption class="govuk-table__caption govuk-heading-l">Appeal outcomes</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Organisation name</th>
                                    <th scope="col" class="govuk-table__header">UKPRN</th>
                                    <th scope="col" class="govuk-table__header">Provider route</th>
                                    <th scope="col" class="govuk-table__header">Application reference number</th>
                                    <th scope="col" class="govuk-table__header">Appeal submitted date</th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column selected-tab="appealsoutcome" column-name="AppealDeterminedDate" column-label="Appeal determined date" default="true" default-order="Descending" />
                                    </th>
                                    <th scope="col" class="govuk-table__header">Appeal outcome</th>
                                </tr>  
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var application in Model.CompleteAppealsDetails.Reviews)
                                {
                                <tr class="govuk-table__row">
                                    <td data-label="Organisation name" class="govuk-table__cell">
                                        <a class="govuk-link govuk-!-margin-bottom-0" asp-action="appealOutcome" asp-route-id="@application.ApplicationId">
                                            @application.OrganisationName
                                        </a>
                                    </td>
                                    <td data-label="UKPRN" class="govuk-table__cell">@application.Ukprn</td>
                                    <td data-label="Provider route" class="govuk-table__cell">@application.ProviderRoute</td>
                                    <td data-label="Application reference number" class="govuk-table__cell">@application.ApplicationReferenceNumber</td>
                                    <td data-label="Appeal submitted date" class="govuk-table__cell">@application.AppealSubmittedDate.ToSfaShortDateString()</td>
                                    <td data-label="Appeal determined date" class="govuk-table__cell">@application.AppealDeterminedDate.ToSfaShortDateString()</td>                                   
                                    <td data-label="Overall outcome" class="govuk-table__cell">
                                        <span class="govuk-tag das-tag--solid-green">@application.AppealStatus</span>
                                    </td>
                                </tr> 
                                } 
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l"> No overall outcomes.</p>
                    } 
                </div>
                </div>
          </div>
    </div>

    @*

        <p class="govuk-body">
            <a class="govuk-link" asp-controller="Home" asp-action="Index">Back</a>
        </p>

    *@

</main>