@using SFA.DAS.RoatpOversight.Domain
@using SFA.DAS.AdminService.Common.Extensions;
@model SFA.DAS.RoatpOversight.Web.ViewModels.OverallOutcomeViewModel

@{
    ViewData["Title"] = "RoATP application outcomes";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP application outcomes</li>
    </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Oversight</span>
            <h1 class="govuk-heading-xl">RoATP application outcomes</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>

                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" href="#applications">
                            Applications (@Model.ApplicationCount)
                        </a>
                    </li>

                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" href="#outcomes">
                            Overall outcome (@Model.OverallOutcomeCount)
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel" id="applications">
                    @if (Model.ApplicationCount > 0)
                    {
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <caption class="govuk-table__caption govuk-heading-l">Applications</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Organisation name</th>
                                    <th scope="col" class="govuk-table__header">UKPRN</th>
                                    <th scope="col" class="govuk-table__header">Provider route</th>
                                    <th scope="col" class="govuk-table__header">Application reference number</th>
                                    <th scope="col" class="govuk-table__header">Application submitted date</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var application in Model.ApplicationDetails)
                                {
                                    <tr class="govuk-table__row">
                                        <td data-label="Organisation name" class="govuk-table__cell">
                                            <a class="govuk-link govuk-!-margin-bottom-0" asp-action="Outcome" asp-route-id="@application.ApplicationId">
                                                @application.OrganisationName
                                            </a>
                                        </td>
                                        <td data-label="UKPRN" class="govuk-table__cell">@application.Ukprn</td>
                                        <td data-label="Provider route" class="govuk-table__cell">@application.ProviderRoute</td>
                                        <td data-label="Application reference number" class="govuk-table__cell">@application.ApplicationReferenceNumber</td>
                                        <td data-label="Application submitted date" class="govuk-table__cell">@application.ApplicationSubmittedDate.ToSfaShortDateString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l">No applications to assess.</p>
                    }
                </div>

                <div class="govuk-tabs__panel" id="outcomes">
                    @if (Model.OverallOutcomeCount > 0)
                    {
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <caption class="govuk-table__caption govuk-heading-l">Overall outcome</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Organisation name</th>
                                    <th scope="col" class="govuk-table__header">UKPRN</th>
                                    <th scope="col" class="govuk-table__header">Provider route</th>
                                    <th scope="col" class="govuk-table__header">Application reference number</th>
                                    <th scope="col" class="govuk-table__header">Application submitted date</th>
                                    <th scope="col" class="govuk-table__header">Application determined date</th>
                                    <th scope="col" class="govuk-table__header">Overall outcome</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var outcome in Model.OverallOutcomeDetails)
                                {

                                    <tr class="govuk-table__row">
                                        <td data-label="Organisation name" class="govuk-table__cell">@outcome.OrganisationName</td>
                                        <td data-label="UKPRN" class="govuk-table__cell">@outcome.Ukprn</td>
                                        <td data-label="Provider route" class="govuk-table__cell">@outcome.ProviderRoute</td>
                                        <td data-label="Application reference number" class="govuk-table__cell">@outcome.ApplicationReferenceNumber</td>
                                        <td data-label="Application submitted date" class="govuk-table__cell">@outcome.ApplicationSubmittedDate.ToSfaShortDateString()</td>
                                        <td data-label="Application determined date" class="govuk-table__cell">@outcome.ApplicationDeterminedDate.ToSfaShortDateString()</td>
                                        @{
                                            var tagCssClass = "";
                                            if (String.Equals(@outcome.OversightStatus, OversightReviewStatus.Successful, StringComparison.InvariantCultureIgnoreCase))
                                            {
                                                tagCssClass = "govuk-tag--solid-green";
                                            }

                                            if (String.Equals(@outcome.OversightStatus, OversightReviewStatus.Unsuccessful, StringComparison.InvariantCultureIgnoreCase))
                                            {
                                                tagCssClass = "govuk-tag--solid-red";
                                            }
                                        }
                                        <td data-label="Overall outcome" class="govuk-table__cell">
                                            <span class="govuk-tag @tagCssClass">@outcome.OversightStatus</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l">No overall outcomes.</p>
                    }
                </div>
            </div>
        </div>
    </div>

    @*

        <p class="govuk-body">
            <a class="govuk-link" asp-controller="Home" asp-action="Index">Back</a>
        </p>

    *@

</main>