@using Microsoft.CodeAnalysis.CSharp.Syntax
@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpOversight.Domain
@using SFA.DAS.RoatpOversight.Web.Extensions
@model SFA.DAS.RoatpOversight.Web.Models.ApplicationsViewModel

@{
    ViewData["Title"] = "RoATP application outcomes";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP application outcomes</li>
    </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Oversight</span>
            <h1 class="govuk-heading-xl">RoATP application outcomes</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>

                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item @(Model.SelectedTab == "applications" ? "govuk-tabs__list-item--selected" : "")">
                        <a class="govuk-tabs__tab" asp-fragment="applications" asp-route-SelectedTab="applications" asp-route-sortColumn="@Model.SortColumn" asp-route-sortOrder="@Model.SortOrder" onclick="location.reload()">
                            Applications (@Model.ApplicationCount)
                        </a>
                    </li>

                    <li class="govuk-tabs__list-item @(Model.SelectedTab == "outcomes" ? "govuk-tabs__list-item--selected" : "")">
                        <a class="govuk-tabs__tab" asp-fragment="outcomes" asp-route-SelectedTab="outcomes" asp-route-sortColumn="@Model.SortColumn" asp-route-sortOrder="@Model.SortOrder" onclick="location.reload()">
                            Application outcomes (@Model.OverallOutcomeCount)
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel" id="applications">
                    @if (Model.ApplicationCount > 0)
                    {
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <caption class="govuk-table__caption govuk-heading-l">Applications</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Organisation name</th>
                                    <th scope="col" class="govuk-table__header">UKPRN</th>
                                    <th scope="col" class="govuk-table__header">Provider route</th>
                                    <th scope="col" class="govuk-table__header">Application reference number</th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column selected-tab="applications" column-name="SubmittedDate" column-label="Application submitted date" default="true" default-order="Descending" />
                                    </th>
                                    <th scope="col" class="govuk-table__header">Outcome</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var application in Model.ApplicationDetails.Reviews)
                                {
                                    <tr class="govuk-table__row">
                                        <td data-label="Organisation name" class="govuk-table__cell">
                                            <a class="govuk-link govuk-!-margin-bottom-0" asp-action="Outcome" asp-route-id="@application.ApplicationId">
                                                @application.OrganisationName
                                            </a>
                                        </td>
                                        <td data-label="UKPRN" class="govuk-table__cell">@application.Ukprn</td>
                                        <td data-label="Provider route" class="govuk-table__cell">@application.ProviderRoute</td>
                                        <td data-label="Application reference number" class="govuk-table__cell">@application.ApplicationReferenceNumber</td>
                                        <td data-label="Application submitted date" class="govuk-table__cell">@application.ApplicationSubmittedDate.ToSfaShortDateString()</td>
                                        <td data-label="Outcome" class="govuk-table__cell">
                                            @{
                                                @if (application.Status == PendingOutcomeReviewStatus.Pass)
                                                {
                                                    <span class="govuk-tag das-tag--solid-green">Pass</span>
                                                }
                                                else if (application.Status == PendingOutcomeReviewStatus.Fail)
                                                {
                                                    <span class="govuk-tag das-tag--solid-red">Fail</span>
                                                }
                                                else
                                                {
                                                    <span class="govuk-tag govuk-tag--inactive">Removed</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l">No applications to assess.</p>
                    }
                </div>

                <div class="govuk-tabs__panel" id="outcomes">
                    @if (Model.OverallOutcomeCount > 0)
                    {
                        <table class="govuk-table das-table--condensed das-table--responsive-wide">
                            <caption class="govuk-table__caption govuk-heading-l">Overall outcome</caption>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Organisation name</th>
                                    <th scope="col" class="govuk-table__header">UKPRN</th>
                                    <th scope="col" class="govuk-table__header">Provider route</th>
                                    <th scope="col" class="govuk-table__header">Application reference number</th>
                                    <th class="govuk-table__header" scope="col">
                                        <sfa-roatp-sortable-column selected-tab="outcomes" column-name="SubmittedDate" column-label="Application submitted date" default="true" default-order="Descending" fragment="outcomes" />
                                    </th>
                                    <th scope="col" class="govuk-table__header">Application determined date</th>
                                    <th scope="col" class="govuk-table__header">Overall outcome</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                @foreach (var outcome in Model.OverallOutcomeDetails.Reviews)
                                {

                                    <tr class="govuk-table__row">
                                        <td data-label="Organisation name" class="govuk-table__cell">
                                            <a class="govuk-link govuk-!-margin-bottom-0" asp-action="Outcome" asp-route-id="@outcome.ApplicationId">
                                                @outcome.OrganisationName
                                            </a>
                                        </td>
                                        <td data-label="UKPRN" class="govuk-table__cell">@outcome.Ukprn</td>
                                        <td data-label="Provider route" class="govuk-table__cell">@outcome.ProviderRoute</td>
                                        <td data-label="Application reference number" class="govuk-table__cell">@outcome.ApplicationReferenceNumber</td>
                                        <td data-label="Application submitted date" class="govuk-table__cell">@outcome.ApplicationSubmittedDate.ToSfaShortDateString()</td>
                                        <td data-label="Application determined date" class="govuk-table__cell">@outcome.ApplicationDeterminedDate.ToSfaShortDateString()</td>
                                        <td data-label="Overall outcome" class="govuk-table__cell">
                                            <span class="das-no-wrap @outcome.OversightStatus.GetCssClass()">@outcome.OversightStatus.GetLabel()</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="govuk-body-l">No overall outcomes.</p>
                    }
                </div>
            </div>
        </div>
    </div>

    @*

        <p class="govuk-body">
            <a class="govuk-link" asp-controller="Home" asp-action="Index">Back</a>
        </p>

    *@

</main>