@model SFA.DAS.RoatpOversight.Web.ViewModels.OverallOutcomeViewModel

@{
    ViewData["Title"] = "RoATP application outcomes";
}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Index">RoATP dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP application outcomes</li>
  </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Oversight</span>
            <h1 class="govuk-heading-xl">RoATP applications</h1>
        </div>
    </div>

    @if (Model.ApplicationCount == 0 && Model.OverallOutcomeCount == 0)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-l">No applications to assess.</p>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Oversight applications and outcomes
                    </h2>
                    <ul class="govuk-tabs__list">
                        @if (Model.ApplicationCount > 0)
                        {
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                <a class="govuk-tabs__tab" href="#applications">
                                    Applications (@Model.ApplicationCount)
                                </a>
                            </li>
                        }

                        @if (Model.OverallOutcomeCount > 0)
                        {
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#outcomes">
                                    Overall outcome (@Model.OverallOutcomeCount)
                                </a>
                            </li>
                        }
                    </ul>

                    @if (Model.ApplicationCount > 0)
                    {
                        <div class="govuk-tabs__panel" id="applications">
                            @*<h2 class="govuk-heading-l">Applications (@Model.ApplicationCount)</h2>*@
                            <table class="govuk-table das-table--condensed">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Organisation name</th>
                                        <th scope="col" class="govuk-table__header">UKPRN</th>
                                        <th scope="col" class="govuk-table__header">Provider route</th>
                                        <th scope="col" class="govuk-table__header">Application reference number</th>
                                        <th scope="col" class="govuk-table__header">Application submitted date</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var application in Model.ApplicationDetails)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">
                                                <a class="govuk-link govuk-!-margin-bottom-0" asp-action="Outcome" asp-route-id="@application.Ukprn">
                                                    @application.OrganisationName
                                                </a>
                                            </td>
                                            <td class="govuk-table__cell">@application.Ukprn</td>
                                            <td class="govuk-table__cell">@application.ProviderRoute</td>
                                            <td class="govuk-table__cell">@application.ApplicationReferenceNumber</td>
                                            <td class="govuk-table__cell">@application.ApplicationSubmittedDate</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                    @if (Model.OverallOutcomeCount > 0)
                    {
                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="outcomes">
                            @*<h2 class="govuk-heading-l">Overall outcome (@Model.OverallOutcomeCount)</h2>*@
                            <table class="govuk-table das-table--condensed">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Organisation name</th>
                                        <th scope="col" class="govuk-table__header">UKPRN</th>
                                        <th scope="col" class="govuk-table__header">Provider route</th>
                                        <th scope="col" class="govuk-table__header">Application reference number</th>
                                        <th scope="col" class="govuk-table__header">Application submitted date</th>
                                        <th scope="col" class="govuk-table__header">Application determined date</th>
                                        <th scope="col" class="govuk-table__header">Overall outcome</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var outcome in Model.OverallOutcomeDetails)
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell">@outcome.OrganisationName</td>
                                            <td class="govuk-table__cell">@outcome.Ukprn</td>
                                            <td class="govuk-table__cell">@outcome.ProviderRoute</td>
                                            <td class="govuk-table__cell">@outcome.ApplicationReferenceNumber</td>
                                            <td class="govuk-table__cell">@outcome.ApplicationSubmittedDate</td>
                                            <td class="govuk-table__cell">@outcome.ApplicationDeterminedDate</td>
                                            <td class="govuk-table__cell">@outcome.Outcome</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @*

    <p class="govuk-body">
        <a class="govuk-link" asp-controller="Home" asp-action="Index">Back</a>
    </p>

    *@

</main>