@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpOversight.Domain
@using SFA.DAS.RoatpOversight.Web.Domain
@using SFA.DAS.RoatpOversight.Web.Extensions
@model SFA.DAS.RoatpOversight.Web.Models.ConfirmOutcomeViewModel
@{
    ViewData["Title"] = @Model.PageTitle;
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Oversight" asp-action="Applications">RoATP application outcomes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Overall outcome</li>
    </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <partial name="_ValidationSummaryPartial"/>

            <form asp-controller="Oversight" asp-action="ConfirmOutcome">
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="OutcomeKey" />

                <input type="hidden" asp-for="ApproveGateway" />
                <input type="hidden" asp-for="ApproveModeration" />
                <input type="hidden" asp-for="OversightStatus" />
                <input type="hidden" asp-for="InternalComments" />
                <input type="hidden" asp-for="ExternalComments" />

                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x=> x.Confirm, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-xl">Overall outcome</span>
                            <h1 class="govuk-heading-xl">@Model.PageTitle</h1>
                        </legend>

                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    UKPRN
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.Ukprn
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Legal Name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.OrganisationName
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Provider route
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ProviderRoute
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Application reference
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ApplicationReferenceNumber
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Applicant's email address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ApplicationEmailAddress
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Application submitted date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ApplicationSubmittedDate.ToSfaShortDateString()
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Application determined date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @DateTime.UtcNow.Date.ToString("dd MMMM yyyy")
                                </dd>
                            </div>
                            @if(Model.OversightStatus == OversightReviewStatus.SuccessfulAlreadyActive || Model.OversightStatus == OversightReviewStatus.SuccessfulFitnessForFunding)
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Application outcome
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.OversightStatus
                                    </dd>
                                </div>
                            }
                        </dl>

                        @if (!String.IsNullOrEmpty(@Model.InternalComments))
                        {
                            <h2 class="govuk-heading-l">Internal comments</h2>
                            
                            <div class="govuk-inset-text">
                                <pre class="govuk-body das-preformatted-body">@Model.InternalComments</pre>
                            </div>
                        }     

                        @if (!String.IsNullOrEmpty(@Model.ExternalComments))
                        {
                            <h2 class="govuk-heading-l">External comments</h2>

                            <p class="govuk-body das-!-color-dark-grey">
                                These comments will be seen by the applicant.
                            </p>
                            
                            <div class="govuk-inset-text">
                                <pre class="govuk-body das-preformatted-body">@Model.ExternalComments</pre>
                            </div>
                        }                        

                        @if (OversightReviewStatus.SuccessfulStatuses.Contains(Model.OversightStatus))
                        {
                            <p class="govuk-body">
                                We'll send the applicant:
                            </p>

                            <ul class="govuk-list govuk-list--bullet">
                                <li>
                                    an overall outcome
                                </li>
                                <li>
                                    a financial health grade
                                </li>
                                <li>
                                    their next steps
                                </li>
                            </ul>
                        }

                        @Html.ValidationMessageFor(m => m.Confirm, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.Confirm) })

                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="Confirm"
                                       value=@OversightConfirmationStatus.Yes
                                       asp-for="Confirm" />
                                <label class="govuk-label govuk-radios__label" for="Confirm">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="ConfirmNo"
                                       value=@OversightConfirmationStatus.No
                                       asp-for="Confirm" />
                                <label class="govuk-label govuk-radios__label" for="ConfirmNo">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Save and continue
                </button>

            </form>
        </div>
    </div>
</main>