@model SFA.DAS.RoatpOversight.Web.ViewModels.OutcomeViewModel
@{
    ViewData["Title"] = "Outcome";
}

<h1>What’s the overall outcome of this application?</h1>
<p>UKPRN: @Model.Ukprn</p>
<p>Legal Name: @Model.OrganisationName</p>
<p>Provider route: @Model.ProviderRoute</p>
<p>Application submitted date: @Model.ApplicationSubmittedDate</p>
<p>Application determined date: @DateTime.Today</p>




