@using SFA.DAS.RoatpOversight.Domain
@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpOversight.Web.Domain
@using SFA.DAS.RoatpOversight.Web.Extensions
@model SFA.DAS.RoatpOversight.Web.Models.OutcomeViewModel
@{
    ViewData["Title"] = "RoATP application outcomes - Application summary";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Oversight" asp-action="Applications">RoATP application outcomes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application Summary</li>
    </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ValidationSummaryPartial" />

            <span class="govuk-caption-xl">
                RoATP application outcomes
            </span>
            <h1 class="govuk-heading-xl">Application summary</h1>
            
            <partial name="_ApplicationSummary" for="@Model.ApplicationSummary" />

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Outcome details</h2>
        </div>
    </div>

    <form method="post">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <input type="hidden" name="ApplicationId" value="@Model.ApplicationSummary.ApplicationId" />
                <input type="hidden" asp-for="IsGatewayFail" />

                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x=> x.ApproveGateway, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-m">Gateway outcome</h2>
                        </legend>

                        <partial name="_GatewayOutcome" for="@Model.GatewayOutcome" />
                        
                        @if (!Model.IsGatewayFail)
                        {
                            @Html.ValidationMessageFor(m => m.ApproveGateway, null, new {@class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.ApproveGateway)})

                            <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-6">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                           type="radio"
                                           id="ApproveGateway"
                                           value="@ApprovalStatus.Approve"
                                           asp-for="ApproveGateway"/>
                                    <label class="govuk-label govuk-radios__label" for="ApproveGateway">
                                        Approve this outcome
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                           type="radio"
                                           id="OptionApproveGatewayNo"
                                           value="@ApprovalStatus.Overturn"
                                           asp-for="ApproveGateway"
                                       data-module="das-show-hide-controls"
                                       data-aria-controls="conditional-UnsuccessfulExternalText" />
                                    <label class="govuk-label govuk-radios__label" for="OptionApproveGatewayNo">
                                        Overturn this outcome
                                    </label>
                                </div>
                            </div>
                        }
                    </fieldset>
                </div>
                
                @if (!Model.IsGatewayFail)
                {

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h2 class="govuk-heading-m">Financial health outcome</h2>
                            </legend>
                            <partial name="_FinancialHealthOutcome" for="@Model.FinancialHealthOutcome"/>
                        </fieldset>
                    </div>

                    <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.ApproveModeration, "govuk-form-group--error")">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h2 class="govuk-heading-m">Moderation outcome</h2>
                            </legend>

                            <partial name="_ModerationOutcome" for="@Model.ModerationOutcome"/>

                            @Html.ValidationMessageFor(m => m.ApproveModeration, null, new {@class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.ApproveModeration)})
                            <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-6">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                           type="radio"
                                           id="ApproveModeration"
                                           value="@ApprovalStatus.Approve"
                                           asp-for="ApproveModeration"/>
                                    <label class="govuk-label govuk-radios__label" for="ApproveModeration">
                                        Approve this outcome
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                           type="radio"
                                           id="OptionApproveModerationNo"
                                           value="@ApprovalStatus.Overturn"
                                           asp-for="ApproveModeration"
                                       data-module="das-show-hide-controls"
                                       data-aria-controls="conditional-UnsuccessfulExternalText" />
                                    <label class="govuk-label govuk-radios__label" for="OptionApproveModerationNo">
                                        Overturn this outcome
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                }
            </div>
        </div>
        
    @if (!Model.IsGatewayFail)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x => x.ApproveGateway, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-l">What is the overall outcome of this application?</h2>
                        </legend>

                        @Html.ValidationMessageFor(m => m.OversightStatus, null, new {@class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.OversightStatus)})

                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OversightStatus"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.Successful
                                       data-aria-controls="conditional-OptionSuccessful"
                                       data-module="das-disabled"/>
                                <label class="govuk-label govuk-radios__label" for="OversightStatus">
                                    @OversightReviewStatus.Successful
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionSuccessful">
                                <div class="govuk-form-group">
                                    <a name="OptionSuccessfulText"></a>
                                    <label class="govuk-label" for="SuccessfulText">
                                        Add your internal comments (optional)
                                    </label>
                                    <textarea class="govuk-textarea"
                                                id="SuccessfulText"
                                                name="SuccessfulText"
                                                rows="10"
                                                maxlength="@OversightSettings.TextAreaMaxLength">@Model.SuccessfulText</textarea>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionSuccessfulAlreadyActive"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.SuccessfulAlreadyActive
                                       data-aria-controls="conditional-OptionSuccessfulAlreadyActive"
                                       data-module="das-disabled"/>
                                <label class="govuk-label govuk-radios__label" for="OptionSuccessfulAlreadyActive">
                                    Successful - already active
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionSuccessfulAlreadyActive">
                                <div class="govuk-form-group">
                                    <a name="OptionSuccessfulAlreadyActiveText"></a>
                                    <label class="govuk-label" for="SuccessfulAlreadyActiveText">
                                        Add your internal comments (optional)
                                    </label>
                                    <textarea class="govuk-textarea"
                                                id="SuccessfulAlreadyActiveText"
                                                name="SuccessfulAlreadyActiveText"
                                                rows="10"
                                                maxlength="@OversightSettings.TextAreaMaxLength">@Model.SuccessfulAlreadyActiveText</textarea>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionSuccessfulFitnessForFunding"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.SuccessfulFitnessForFunding
                                       data-aria-controls="conditional-OptionSuccessfulFitnessForFunding"
                                       data-module="das-disabled"/>
                                <label class="govuk-label govuk-radios__label" for="OptionSuccessfulFitnessForFunding">
                                    Successful - fitness for funding
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionSuccessfulFitnessForFunding">
                                <div class="govuk-form-group">
                                    <a name="OptionSuccessfulFitnessForFundingText"></a>
                                    <label class="govuk-label" for="SuccessfulFitnessForFundingText">
                                        Add your internal comments (optional)
                                    </label>
                                    <textarea class="govuk-textarea"
                                                id="SuccessfulFitnessForFundingText"
                                                name="SuccessfulFitnessForFundingText"
                                                rows="10"
                                                maxlength="@OversightSettings.TextAreaMaxLength">@Model.SuccessfulFitnessForFundingText</textarea>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionUnsuccessful"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.Unsuccessful
                                       data-aria-controls="conditional-OptionUnsuccessful"
                                       data-module="das-disabled"/>
                                <label class="govuk-label govuk-radios__label" for="OptionUnsuccessful">
                                    Unsuccessful
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionUnsuccessful">
                                <div class="govuk-form-group">
                                    <a name="OptionUnsuccessfulText"></a>
                                    <label class="govuk-label" for="UnsuccessfulText">
                                        Add your internal comments
                                    </label>
                                    @Html.ValidationMessageFor(m => m.UnsuccessfulText, null, new {@class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.UnsuccessfulText)})
                                    <textarea class="govuk-textarea"
                                                id="UnsuccessfulText"
                                                name="UnsuccessfulText"
                                                rows="10"
                                                maxlength="@OversightSettings.TextAreaMaxLength">@Model.UnsuccessfulText</textarea>
                                </div>

                                <div class="govuk-form-group das-reveal__conditional--hidden" data-module="das-reveal" id="conditional-UnsuccessfulExternalText">
                                    <a name="OptionUnsuccessfulExternalText"></a>
                                    <label class="govuk-label" for="UnsuccessfulExternalText">
                                        Add your external comments
                                    </label>
                                    <div class="govuk-hint" id="UnsuccessfulExternalText-hint">
                                        These comments will be seen by the applicant. Only fill in if you have overturned an outcome.
                                    </div>
                                    @Html.ValidationMessageFor(m => m.UnsuccessfulExternalText, null, new {@class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.UnsuccessfulExternalText)})
                                    <textarea class="govuk-textarea"
                                                id="UnsuccessfulExternalText"
                                                name="UnsuccessfulExternalText"
                                                rows="10"
                                                maxlength="@OversightSettings.TextAreaMaxLength"
                                                aria-describedby="UnsuccessfulExternalText-hint">@Model.UnsuccessfulExternalText</textarea>
                                </div>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionInProgress"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.InProgress
                                       data-aria-controls="conditional-OptionInProgress"/>
                                <label class="govuk-label govuk-radios__label" for="OptionInProgress">
                                    Set to 'in progress'
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionInProgress">
                                <div class="govuk-form-group">
                                    <a name="OptionInProgressInternalText"></a>
                                    <label class="govuk-label" for="InProgressInternalText">
                                        Add your internal comments
                                    </label>

                                    @Html.ValidationMessageFor(m => m.InProgressInternalText, null, new {@class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.InProgressInternalText)})
                                    <textarea class="govuk-textarea @Html.AddClassIfPropertyInError(x => x.InProgressInternalText, "govuk-textarea--error")"
                                                id="InProgressInternalText"
                                                name="InProgressInternalText"
                                                rows="10"
                                                maxlength="@OversightSettings.TextAreaMaxLength">@Model.InProgressInternalText</textarea>
                                </div>
                                <div>
                                    <div class="govuk-form-group">
                                        <a name="OptionInProgressExternalText"></a>
                                        <label class="govuk-label" for="InProgressExternalText">
                                            Add your external comments
                                        </label>
                                        <div id="InProgressExternalText-hint" class="govuk-hint">
                                            These comments will be seen by the applicant.
                                        </div>
                                        @Html.ValidationMessageFor(m => m.InProgressExternalText, null, new {@class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.InProgressExternalText)})
                                        <textarea class="govuk-textarea @Html.AddClassIfPropertyInError(x => x.InProgressExternalText, "govuk-textarea--error")"
                                                id="InProgressExternalText"
                                                name="InProgressExternalText"
                                                rows="10"
                                                maxlength="@OversightSettings.TextAreaMaxLength"
                                                aria-describedby="InProgressExternalText-hint">@Model.InProgressExternalText</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Save and continue
                </button>
                <p class="govuk-body">
                    <a class="govuk-link" asp-controller="Oversight" asp-action="Applications">Back to RoATP application outcomes</a>
                </p>
            </div>
        </div>
    }
    else
    {
        

        <button class="govuk-button" type="submit" data-module="govuk-button">
            Send outcome
        </button>
        <p class="govuk-body">
            <a class="govuk-link" asp-controller="Oversight" asp-action="Applications">Back to RoATP application outcomes</a>
        </p>
    }
    </form>

</main>

@section Scripts {
    <script src="/javascript/das-enable-form-controls.js" no-cdn></script>
    <script src="/javascript/das-reveal.js" no-cdn></script>
    <script>
        $(function() {
            window.dasJs.enableFormControlsOnChange.init(
                ['ApproveGateway', 'ApproveModeration']
            );
            window.dasJs.conditionalReveal.init();
        });
    </script>
}