@model SFA.DAS.RoatpOversight.Web.ViewModels.OutcomeUnsuccessfulViewModel
@{
    ViewData["Title"] = "OversightStatus - Successful";
}
@{
    var formGroupError = Model.ErrorMessages != null && Model.ErrorMessages.Any() ? "govuk-form-group--error" : "";
}
<p><a class="govuk-link" asp-controller="Home" asp-action="Index">RoATP dashboard</a> > <a class="govuk-link" asp-controller="Oversight" asp-action="Applications">RoATP Application OversightStatuss</a> > Overall outcome</p>

<h1>Overall outcome</h1>
<h1>Are you sure this is an usuccessful application?</h1>


@if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
{
    @foreach (var error in Model.ErrorMessages)
    {
        <span class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> @error.ErrorMessage
        </span>
    }
}


<p>UKPRN: @Model.Ukprn</p>
<p>Legal Name: @Model.OrganisationName</p>
<p>Provider route: @Model.ProviderRoute</p>
<p>Application submitted date: @Model.ApplicationSubmittedDate</p>
<p>Application determined date: @DateTime.Today</p>

<p>
    We'll send the applicant:

    <ul>
        <li>an overall outcome</li>
        <li>their application showing which questions they failed</li>
        <li>their next steps </li>
    </ul>
</p>



@{
    var radioCheckedYes = Model.AreYouSureStatus?.ToLower() == "yes" ? "checked" : "";
    var radioCheckedNo = Model.AreYouSureStatus?.ToLower() == "no" ? "checked" : "";
}
<form asp-action="Unsuccessful" asp-controller="Oversight">
    <input type="hidden" asp-for="Ukprn" />
    <div class="govuk-radios__item">
        <input class="govuk-radios__input"
               type="radio"
               id="OptionYes"
               name="Status"
               value="Yes"
               data-aria-controls="conditional-OptionYes"
               @radioCheckedYes />

        <label class="govuk-label govuk-radios__label" for="OptionYes">
            Yes
        </label>
    </div>
    <div class="govuk-radios__item">
        <input class="govuk-radios__input"
               type="radio"
               id="OptionNo"
               name="Status"
               value="No"
               data-aria-controls="conditional-OptionNo"
               @radioCheckedNo />
        <label class="govuk-label govuk-radios__label" for="OptionNo">
            No
        </label>
    </div>
    <button class="govuk-button" type="submit">Save and continue</button>
</form>