@model SFA.DAS.RoatpOversight.Web.ViewModels.OutcomeUnsuccessfulViewModel
@{
    ViewData["Title"] = "Outcome - Successful";
}
@{
    var formGroupError = Model.ErrorMessages != null && Model.ErrorMessages.Any() ? "govuk-form-group--error" : "";
}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Index">RoATP dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" asp-controller="Oversight" asp-action="Applications">RoATP application outcomes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item" aria-current="page">Overall outcome</li>
  </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                @foreach (var error in Model.ErrorMessages)
                                {
                                    <a href="#OptionYes">@error.ErrorMessage</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            }

            @{
                var radioCheckedYes = Model.AreYouSureStatus?.ToLower() == "yes" ? "checked" : "";
                var radioCheckedNo = Model.AreYouSureStatus?.ToLower() == "no" ? "checked" : "";
            }

            <form asp-action="Unsuccessful" asp-controller="Oversight">
                <input type="hidden" asp-for="Ukprn" />
                <div class="govuk-form-group @formGroupError">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <span class="govuk-caption-xl">Overall outcome</span>
                            <h1 class="govuk-heading-xl">Are you sure this is an unsuccessful application?</h1>
                        </legend>

                        <p class="govuk-body govuk-!-margin-bottom-0">UKPRN: @Model.Ukprn</p>
                        <p class="govuk-body govuk-!-margin-bottom-0">Legal Name: @Model.OrganisationName</p>
                        <p class="govuk-body govuk-!-margin-bottom-0">Provider route: @Model.ProviderRoute</p>
                        <p class="govuk-body govuk-!-margin-bottom-0">Application submitted date: @Model.ApplicationSubmittedDate</p>
                        <p class="govuk-body govuk-!-margin-bottom-8">Application determined date: @DateTime.Today</p>

                        <p class="govuk-body">We'll send the applicant:</p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li>an overall outcome</li>
                            <li>their application showing which questions they failed</li>
                            <li>their next steps </li>
                        </ul>

                        @if (Model.ErrorMessages != null && Model.ErrorMessages.Any())
                        {
                            @foreach (var error in Model.ErrorMessages)
                            {
                                <span class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> @error.ErrorMessage
                                </span>
                            }
                        }

                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input 
                                    class="govuk-radios__input"
                                    type="radio"
                                    id="OptionYes"
                                    name="Status"
                                    value="Yes"
                                    data-aria-controls="conditional-OptionYes"
                                    @radioCheckedYes 
                                />

                                <label class="govuk-label govuk-radios__label" for="OptionYes">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input 
                                    class="govuk-radios__input"
                                    type="radio"
                                    id="OptionNo"
                                    name="Status"
                                    value="No"
                                    data-aria-controls="conditional-OptionNo"
                                    @radioCheckedNo
                                />
                                <label class="govuk-label govuk-radios__label" for="OptionNo">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Save and continue
                </button>
                
            </form>
        </div>
    </div>
</main>