@using SFA.DAS.RoatpOversight.Web.Domain
@model SFA.DAS.RoatpOversight.Web.Models.OutcomeDetailsViewModel
@{
    ViewData["Title"] = "RoATP application outcomes - Application summary";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Oversight" asp-action="Applications">RoATP application outcomes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application summary</li>
    </ol>
</div>

<main class="govuk-main-wrapper">
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ValidationSummaryPartial" />

            <span class="govuk-caption-xl">
                RoATP application outcomes
            </span>
            <h1 class="govuk-heading-xl">Application summary</h1>
            
            <partial name="_ApplicationSummary" for="@Model.ApplicationSummary" />

            @if (Model.OverallOutcome.IsGatewayOutcome || Model.IsGatewayActionPendingConfirmation)
            {
                <h2 class="govuk-heading-l">Gateway outcome</h2>
            }
            else
            {
                <h2 class="govuk-heading-l">Outcome details</h2>
            }
        </div>
    </div>

    <form method="post">
        
        <input type="hidden" name="ApplicationId" value="@Model.ApplicationSummary.ApplicationId" />
        <input type="hidden" asp-for="IsGatewayFail" />
        <input type="hidden" asp-for="IsGatewayRemoved" />

        @if (!Model.OverallOutcome.IsGatewayOutcome)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <div das-highlight-error-for="ApproveGateway" error-class="govuk-form-group--error" class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="ApproveGateway-error">

                            <partial name="_GatewayOutcome" for="@Model.GatewayOutcome"/>

                            @if (!Model.HasFinalOutcome && !Model.IsGatewayActionPendingConfirmation)
                            {
                                <span das-validation-for="ApproveGateway" class="govuk-error-message"></span>

                                <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-6">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               type="radio"
                                               value="@ApprovalStatus.Approve"
                                               asp-for="ApproveGateway"/>
                                        <label class="govuk-label govuk-radios__label" for="ApproveGateway">
                                            Approve this outcome
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input"
                                               type="radio"
                                               id="OptionApproveGatewayNo"
                                               value="@ApprovalStatus.Overturn"
                                               asp-for="ApproveGateway"
                                               data-module="das-show-hide-controls"
                                               data-aria-controls="conditional-UnsuccessfulExternalText"/>
                                        <label class="govuk-label govuk-radios__label" for="OptionApproveGatewayNo">
                                            Overturn this outcome
                                        </label>
                                    </div>
                                </div>
                            }
                        </fieldset>
                    </div>

                    @if (!Model.IsGatewayActionPendingConfirmation)
                    {

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h2 class="govuk-heading-m">Financial health outcome</h2>
                                </legend>
                                <partial name="_FinancialHealthOutcome" for="@Model.FinancialHealthOutcome"/>
                            </fieldset>
                        </div>

                        <div das-highlight-error-for="ApproveModeration" error-class="govuk-form-group--error" class="govuk-form-group">
                            <fieldset class="govuk-fieldset" aria-describedby="ApproveModeration-error">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h2 class="govuk-heading-m">Moderation outcome</h2>
                                </legend>

                                <partial name="_ModerationOutcome" for="@Model.ModerationOutcome"/>

                                @if (!Model.HasFinalOutcome)
                                {
                                    <span das-validation-for="ApproveModeration" class="govuk-error-message"></span>

                                    <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-6">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input"
                                                   type="radio"
                                                   value="@ApprovalStatus.Approve"
                                                   asp-for="ApproveModeration"/>
                                            <label class="govuk-label govuk-radios__label" for="ApproveModeration">
                                                Approve this outcome
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input"
                                                   type="radio"
                                                   id="OptionApproveModerationNo"
                                                   value="@ApprovalStatus.Overturn"
                                                   asp-for="ApproveModeration"
                                                   data-module="das-show-hide-controls"
                                                   data-aria-controls="conditional-UnsuccessfulExternalText"/>
                                            <label class="govuk-label govuk-radios__label" for="OptionApproveModerationNo">
                                                Overturn this outcome
                                            </label>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                        </div>
                    }
                </div>
            </div>
        }

        @if (Model.ShowInProgressDetails)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <partial name="_InProgressDetails" for="@Model.InProgressDetails"/>
                </div>
            </div>
        }

        @if (!Model.HasFinalOutcome && !Model.IsGatewayActionPendingConfirmation)
        {
            <partial name="_SelectOutcome" model="@Model"/>
        }
        else
        {
            @if (!Model.HasFinalOutcome)
             {
                 <div class="govuk-grid-row">
                     <div class="govuk-grid-column-two-thirds">
                         <partial name="_ConfirmGatewayAction"/>
                     </div>
                 </div>
             }
        }
   

    @if (Model.HasFinalOutcome)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <partial name="_OverallOutcome" for="@Model.OverallOutcome"/>
            </div>
        </div>
    }
    </form>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                <a class="govuk-link" asp-controller="Oversight" asp-action="Applications">Back to RoATP application outcomes</a>
            </p>
        </div>
    </div>

</main>

@section Scripts {
    <script src="/javascript/das-enable-form-controls.js" no-cdn></script>
    <script src="/javascript/das-reveal.js" no-cdn></script>
    <script>
        $(function() {
            window.dasJs.enableFormControlsOnChange.init(
                ['ApproveGateway', 'ApproveModeration']
            );
            window.dasJs.conditionalReveal.init();
        });
    </script>
}