@using SFA.DAS.RoatpOversight.Domain
@using SFA.DAS.AdminService.Common.Extensions;
@using SFA.DAS.RoatpOversight.Web.Domain
@using SFA.DAS.RoatpOversight.Web.Extensions
@model SFA.DAS.RoatpOversight.Web.ViewModels.OutcomeViewModel
@{
    ViewData["Title"] = "RoATP application outcomes - Application summary";
}

@{
    var inProgressInternalTextHighlight = Model.ErrorMessages != null && Model.ErrorMessages.Count(x => x.Field == "InProgressInternalText") > 0 ? "govuk-textarea--error" : "";
    var inProgressExternalTextHighlight = Model.ErrorMessages != null && Model.ErrorMessages.Count(x => x.Field == "InProgressExternalText") > 0 ? "govuk-textarea--error" : "";

    var radioGatewayApproved = string.Equals(Model.ApproveGateway, ApprovalStatus.Approve, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
    var radioGatewayOverturned = string.Equals(Model.ApproveGateway, ApprovalStatus.Overturn, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
    var radioModerationApproved = string.Equals(Model.ApproveModeration, ApprovalStatus.Approve, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
    var radioModerationOverturned = string.Equals(Model.ApproveModeration, ApprovalStatus.Overturn, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";

    var radioCheckedSuccessful = string.Equals(Model.OversightStatus, OversightReviewStatus.Successful, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
    var radioCheckedSuccessfulAlreadyActive = string.Equals(Model.OversightStatus, OversightReviewStatus.SuccessfulAlreadyActive, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
    var radioCheckedSuccessfulFitnessForFunding = string.Equals(Model.OversightStatus, OversightReviewStatus.SuccessfulFitnessForFunding, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
    var radioCheckedUnsuccessful = string.Equals(Model.OversightStatus, OversightReviewStatus.Unsuccessful, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
    var radioCheckedInProgress = string.Equals(Model.OversightStatus, OversightReviewStatus.InProgress, StringComparison.InvariantCultureIgnoreCase) ? "checked" : "";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Home" asp-action="Dashboard">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-controller="Oversight" asp-action="Applications">RoATP application outcomes</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application Summary</li>
    </ol>
</div>

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="_ValidationSummaryPartial" />

            <span class="govuk-caption-xl">
                RoATP application outcomes
            </span>
            <h1 class="govuk-heading-xl">Application summary</h1>

            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        UKPRN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Ukprn
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Legal Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.OrganisationName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Provider route
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ProviderRoute
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Application reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationReferenceNumber
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Applicant's email address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationEmailAddress
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Application submitted date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ApplicationSubmittedDate.ToSfaShortDateString()
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Assessment outcome
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @{
                            var assessmentOutcomeTagClass = @Model.AssessmentOutcome == "Passed" ? "das-tag--solid-green" : "das-tag--solid-red";
                        }

                        <strong class="das-tag @assessmentOutcomeTagClass">
                            @Model.AssessmentOutcome
                        </strong>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form asp-action="Outcome" asp-controller="Oversight">
                <input type="hidden" asp-for="ApplicationId" />
                <input type="hidden" asp-for="ApplicationEmailAddress" />

                <h2 class="govuk-heading-l">Outcome details</h2>

                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x=> x.ApproveGateway, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-m">Gateway outcome</h2>
                        </legend>

                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Outcome
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.GatewayReviewStatus == GatewayReviewStatus.Pass)
                                    {
                                        <strong class="das-tag das-tag--solid-green">
                                            Passed
                                        </strong>
                                    }
                                    else
                                    {
                                        <strong class="das-tag das-tag--solid-red">
                                            Failed
                                        </strong>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Outcome made date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.GatewayOutcomeMadeDate.ToSfaShortDateString()
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Outcome made by
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.GatewayOutcomeMadeBy
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Comments
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (string.IsNullOrEmpty(Model.GatewayComments))
                                    {
                                        <text>N/A</text>
                                    }
                                    else
                                    {
                                        @Model.GatewayComments
                                    }
                                </dd>
                            </div>
                        </dl>

                        @Html.ValidationMessageFor(m => m.ApproveGateway, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.ApproveGateway) })

                        <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-6">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="ApproveGateway"
                                       name="ApproveGateway"
                                       value=@ApprovalStatus.Approve
                                       data-aria-controls="conditional-OptionYes"
                                       asp-for="ApproveGateway" />
                                <label class="govuk-label govuk-radios__label" for="ApproveGateway">
                                    Approve this outcome
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionApproveGatewayNo"
                                       name="ApproveGateway"
                                       value=@ApprovalStatus.Overturn
                                       data-aria-controls="conditional-OptionNo"
                                       asp-for="ApproveGateway" />
                                <label class="govuk-label govuk-radios__label" for="OptionApproveGatewayNo">
                                    Overturn this outcome
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-m">Financial health outcome</h2>
                        </legend>
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Outcome
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.FinancialReviewStatus == FinancialReviewStatus.Pass)
                                    {
                                        <strong class="das-tag das-tag--solid-green">
                                            Passed
                                        </strong>
                                    }
                                    else
                                    {
                                        <strong class="das-tag das-tag--solid-red">
                                            Failed
                                        </strong>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Grade awarded
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.FinancialGradeAwarded
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Financial health assessed on
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.FinancialHealthAssessedOn.ToSfaShortDateString()
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Financial health assessed by
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.FinancialHealthAssessedBy
                                </dd>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.FinancialHealthComments))
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Comments
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Model.FinancialHealthComments
                                    </dd>
                                </div>
                            }
                        </dl>
                    </fieldset>
                </div>

                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x=> x.ApproveModeration, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-m">Moderation outcome</h2>
                        </legend>

                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Outcome
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (Model.ModerationReviewStatus == ModerationReviewStatus.Pass)
                                    {
                                        <strong class="das-tag das-tag--solid-green">
                                            Passed
                                        </strong>
                                    }
                                    else
                                    {
                                        <strong class="das-tag das-tag--solid-red">
                                            Failed
                                        </strong>
                                    }
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Outcome made date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ModerationOutcomeMadeOn.ToSfaShortDateString()
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Moderated by
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @Model.ModeratedBy
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Comments
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    @if (string.IsNullOrEmpty(Model.ModerationComments))
                                    {
                                        <text>N/A</text>
                                    }
                                    else
                                    {
                                        @Model.ModerationComments
                                    }
                                </dd>
                            </div>
                        </dl>

                        @Html.ValidationMessageFor(m => m.ApproveModeration, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.ApproveModeration) })
                        <div class="govuk-radios govuk-radios--inline govuk-!-margin-bottom-6">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="ApproveModeration"
                                       name="ApproveModeration"
                                       value=@ApprovalStatus.Approve
                                       asp-for="ApproveModeration"
                                       data-aria-controls="conditional-OptionYes"/>
                                <label class="govuk-label govuk-radios__label" for="ApproveModeration">
                                    Approve this outcome
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionApproveModerationNo"
                                       name="ApproveModeration"
                                       value=@ApprovalStatus.Overturn
                                       asp-for="ApproveModeration"
                                       data-aria-controls="conditional-OptionNo" />
                                <label class="govuk-label govuk-radios__label" for="OptionApproveModerationNo">
                                    Overturn this outcome
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group @Html.AddClassIfPropertyInError(x=> x.ApproveGateway, "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-heading-l">What is the overall outcome of this application?</h2>
                        </legend>

                        @Html.ValidationMessageFor(m => m.OversightStatus, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.OversightStatus) })

                        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OversightStatus"
                                       name="OversightStatus"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.Successful
                                       data-aria-controls="conditional-OptionSuccessful"
                                       data-disabled="disabled" />
                                <label class="govuk-label govuk-radios__label" for="OptionSuccessful">
                                    @OversightReviewStatus.Successful
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionSuccessful">
                                <div>
                                    <div class="govuk-form-group">
                                        <a name="OptionSuccessfulText"></a>
                                        <label class="govuk-label" for="SuccessfulText">
                                            Add your internal comments (optional)
                                        </label>
                                        <textarea class="govuk-textarea"
                                                  id="SuccessfulText"
                                                  name="SuccessfulText"
                                                  rows="5"
                                                  maxlength="@OversightSettings.TextAreaMaxLength"
                                                  aria-describedby="OptionSuccessfulText-info">@Model.SuccessfulText</textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionSuccessfulAlreadyActive"
                                       name="OversightStatus"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.SuccessfulAlreadyActive
                                       data-aria-controls="conditional-OptionSuccessfulAlreadyActive"
                                       data-disabled="disabled" />
                                <label class="govuk-label govuk-radios__label" for="OptionSuccessfulAlreadyActive">
                                    Successful - already active
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionSuccessfulAlreadyActive">
                                <div>
                                    <div class="govuk-form-group">
                                        <a name="OptionSuccessfulAlreadyActiveText"></a>
                                        <label class="govuk-label" for="SuccessfulAlreadyActiveText">
                                            Add your internal comments (optional)
                                        </label>
                                        <textarea class="govuk-textarea"
                                                  id="SuccessfulAlreadyActiveText"
                                                  name="SuccessfulAlreadyActiveText"
                                                  rows="5"
                                                  maxlength="@OversightSettings.TextAreaMaxLength"
                                                  aria-describedby="OptionSuccessfulAlreadyActiveText-info">@Model.SuccessfulAlreadyActiveText</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionSuccessfulFitnessForFunding"
                                       name="OversightStatus"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.SuccessfulFitnessForFunding
                                       data-aria-controls="conditional-OptionSuccessfulFitnessForFunding"
                                       data-disabled="disabled" />
                                <label class="govuk-label govuk-radios__label" for="OptionSuccessfulFitnessForFunding">
                                    Successful - fitness for funding
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionSuccessfulFitnessForFunding">
                                <div>
                                    <div class="govuk-form-group">
                                        <a name="OptionSuccessfulFitnessForFundingText"></a>
                                        <label class="govuk-label" for="SuccessfulFitnessForFundingText">
                                            Add your internal comments (optional)
                                        </label>
                                        <textarea class="govuk-textarea"
                                                  id="SuccessfulFitnessForFundingText"
                                                  name="SuccessfulFitnessForFundingText"
                                                  rows="5"
                                                  maxlength="@OversightSettings.TextAreaMaxLength"
                                                  aria-describedby="SuccessfulFitnessForFundingText-info">@Model.SuccessfulFitnessForFundingText</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionUnsuccessful"
                                       name="OversightStatus"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.Unsuccessful
                                       data-aria-controls="conditional-OptionUnsuccessful"
                                       data-disabled="disabled" />
                                <label class="govuk-label govuk-radios__label" for="OptionUnsuccessful">
                                    Unsuccessful
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionUnsuccessful">
                                <div>
                                    <div class="govuk-form-group">
                                        <a name="OptionUnsuccessfulText"></a>
                                        <label class="govuk-label" for="UnsuccessfulText">
                                            Add your internal comments
                                        </label>
                                        <textarea class="govuk-textarea"
                                                  id="UnsuccessfulText"
                                                  name="UnsuccessfulText"
                                                  rows="5"
                                                  maxlength="@OversightSettings.TextAreaMaxLength"
                                                  aria-describedby="UnsuccessfulText-info">@Model.UnsuccessfulText</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input"
                                       type="radio"
                                       id="OptionInProgress"
                                       name="OversightStatus"
                                       asp-for="OversightStatus"
                                       value=@OversightReviewStatus.InProgress
                                       data-aria-controls="conditional-OptionInProgress"
                                       />
                                <label class="govuk-label govuk-radios__label" for="OptionInProgress">
                                    Set to 'in progress'
                                </label>
                            </div>
                            <div class="govuk-radios__conditional" id="conditional-OptionInProgress">
                                <div>
                                    <div class="govuk-form-group">
                                        <a name="OptionInProgressInternalText"></a>
                                        <label class="govuk-label" for="InProgressInternalText">
                                            Add your internal comments
                                        </label>

                                        @Html.ValidationMessageFor(m => m.InProgressInternalText, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.InProgressInternalText) })
                                        <textarea class="govuk-textarea @inProgressInternalTextHighlight"
                                                  id="InProgressInternalText"
                                                  name="InProgressInternalText"
                                                  rows="5"
                                                  maxlength="@OversightSettings.TextAreaMaxLength"
                                                  aria-describedby="InProgressInternalText-info">@Model.InProgressInternalText</textarea>
                                    </div>
                                </div>
                                <div>
                                    <div class="govuk-form-group">
                                        <a name="OptionInProgressExternalText"></a>
                                        <label class="govuk-label" for="InProgressExternalText">
                                            Add your external comments
                                        </label>
                                        @Html.ValidationMessageFor(m => m.InProgressExternalText, null, new { @class = "govuk-error-message error", id = "error-message-" + Html.IdFor(m => m.InProgressExternalText) })
                                        <textarea class="govuk-textarea @inProgressExternalTextHighlight"
                                                  id="InProgressExternalText"
                                                  name="InProgressExternalText"
                                                  rows="5"
                                                  maxlength="@OversightSettings.TextAreaMaxLength"
                                                  aria-describedby="InProgressExternalText-info">@Model.InProgressExternalText</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" type="submit" data-module="govuk-button">
                    Save and continue
                </button>
                <p class="govuk-body">
                    <a class="govuk-link" asp-controller="Oversight" asp-action="Applications">Back to RoATP application outcomes</a>
                </p>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <script src="/javascript/das-enable-form-controls.js" no-cdn></script>
    <script>
        window.dasJs.enableFormControlsOnChange.init(
            ['ApproveGateway', 'ApproveModeration']
        );
    </script>
}