@using SFA.DAS.AdminService.Common.Extensions
@using SFA.DAS.RoatpOversight.Web.Domain
@model SFA.DAS.RoatpOversight.Web.Models.Partials.FinancialHealthOutcomeViewModel

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Outcome
            </dt>
            <dd class="govuk-summary-list__value">
                @if (Model.FinancialReviewStatus == FinancialReviewStatus.Pass
                    || Model.FinancialGradeAwarded == FinancialApplicationSelectedGrade.Exempt)
                {
                    <strong class="das-tag das-tag--solid-green">
                        Passed
                    </strong>
                }
                else
                {
                    <strong class="das-tag das-tag--solid-red">
                        Failed
                    </strong>
                }
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Grade awarded
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.FinancialGradeAwarded
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Financial health assessed on
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.FinancialHealthAssessedOn.ToSfaShortDateString()
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Financial health assessed by
            </dt>
            <dd class="govuk-summary-list__value">
                @Model.FinancialHealthAssessedBy
            </dd>
        </div>
        @if(Model.FinancialGradeAwarded == FinancialApplicationSelectedGrade.Inadequate)
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Internal comments
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.FinancialHealthComments
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    External comments
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.FinancialHealthExternalComments
                </dd>
            </div>
        }
    </dl>