@model SFA.DAS.RoatpOversight.Web.Models.Partials.InProgressDetailsViewModel
@using SFA.DAS.AdminService.Common.Extensions
@using SFA.DAS.ApplyService.Types
@using SFA.DAS.RoatpOversight.Domain
@using SFA.DAS.RoatpOversight.Web.Extensions


<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-heading-m">In progress details</h2>
        </legend>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Outcome
                </dt>
                <dd class="govuk-summary-list__value">
                    <span class="@OversightReviewStatus.InProgress.GetCssClass()">@OversightReviewStatus.InProgress.GetLabel()</span>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Application determined date
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ApplicationDeterminedDate.ToSfaShortDateString()
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Outcome made by
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.UserName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Comments
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.InternalComments
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    External Comments
                </dt>
                <dd class="govuk-summary-list__value">
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                View external comments
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <pre class="govuk-body das-preformatted-body">@Model.ExternalComments</pre>
                        </div>
                    </details>
                </dd>
            </div>
        </dl>
    </fieldset>
</div>