@using SFA.DAS.ApplyService.Types
@using SFA.DAS.RoatpOversight.Web.Domain
@using SFA.DAS.RoatpOversight.Web.Models
@model SFA.DAS.RoatpOversight.Web.Models.OutcomeViewModel
@{
    var optionSuccessfulAlreadyActive = "OptionSuccessfulAlreadyActive";
    if (Model.OnRegister)
    {
        optionSuccessfulAlreadyActive = "OversightStatus";
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div das-highlight-error-for="OversightStatus" error-class="govuk-form-group--error" class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="OversightStatus-error">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h2 class="govuk-heading-l">What is the overall outcome of this application?</h2>
                </legend>

                <span das-validation-for="OversightStatus" class="govuk-error-message"></span>
                
            
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    @if (!Model.OnRegister)
                    {
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   asp-for="OversightStatus"
                                   value=@OversightReviewStatus.Successful
                                   data-aria-controls="conditional-OptionSuccessful"
                                   data-module="das-disabled" />
                            <label class="govuk-label govuk-radios__label" for="OversightStatus">
                                @OversightReviewStatus.Successful
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionSuccessful">
                            <div class="govuk-form-group">
                                <a name="OptionSuccessfulText"></a>
                                <label class="govuk-label" for="SuccessfulText">
                                    Add your internal comments (optional)
                                </label>
                                <textarea class="govuk-textarea"
                                          id="SuccessfulText"
                                          name="SuccessfulText"
                                          rows="10"
                                          maxlength="@OversightSettings.TextAreaMaxLength">@Model.SuccessfulText</textarea>
                            </div>
                        </div>

                    }
                    @if (Model.OnRegister)
                    {
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   id="@optionSuccessfulAlreadyActive"
                                   asp-for="OversightStatus"
                                   value=@OversightReviewStatus.SuccessfulAlreadyActive
                                   data-aria-controls="conditional-OptionSuccessfulAlreadyActive"
                                   data-module="das-disabled"/>

                            <label class="govuk-label govuk-radios__label" for="@optionSuccessfulAlreadyActive">
                                Successful - already active
                            </label>

                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionSuccessfulAlreadyActive">
                            <div class="govuk-form-group">
                                <a name="OptionSuccessfulAlreadyActiveText"></a>
                                <label class="govuk-label" for="SuccessfulAlreadyActiveText">
                                    Add your internal comments (optional)
                                </label>
                                <textarea class="govuk-textarea"
                                      id="SuccessfulAlreadyActiveText"
                                      name="SuccessfulAlreadyActiveText"
                                      rows="10"
                                      maxlength="@OversightSettings.TextAreaMaxLength">@Model.SuccessfulAlreadyActiveText</textarea>
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   id="OptionSuccessfulFitnessForFunding"
                                   asp-for="OversightStatus"
                                   value=@OversightReviewStatus.SuccessfulFitnessForFunding
                                   data-aria-controls="conditional-OptionSuccessfulFitnessForFunding"
                                   data-module="das-disabled"/>
                            <label class="govuk-label govuk-radios__label" for="OptionSuccessfulFitnessForFunding">
                                Successful - fitness for funding
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionSuccessfulFitnessForFunding">
                            <div class="govuk-form-group">
                                <a name="OptionSuccessfulFitnessForFundingText"></a>
                                <label class="govuk-label" for="SuccessfulFitnessForFundingText">
                                    Add your internal comments (optional)
                                </label>
                                <textarea class="govuk-textarea"
                                      id="SuccessfulFitnessForFundingText"
                                      name="SuccessfulFitnessForFundingText"
                                      rows="10"
                                      maxlength="@OversightSettings.TextAreaMaxLength">@Model.SuccessfulFitnessForFundingText</textarea>
                            </div>
                        </div>
                    }
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               type="radio"
                               id="OptionUnsuccessful"
                               asp-for="OversightStatus"
                               value=@OversightReviewStatus.Unsuccessful
                               data-aria-controls="conditional-OptionUnsuccessful"
                               data-module="das-disabled" />
                        <label class="govuk-label govuk-radios__label" for="OptionUnsuccessful">
                            Unsuccessful
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionUnsuccessful">
                        <div class="govuk-form-group">
                            <a name="OptionUnsuccessfulText"></a>
                            <label class="govuk-label" for="UnsuccessfulText">
                                Add your internal comments
                            </label>

                            <span das-validation-for="UnsuccessfulText" class="govuk-error-message"></span>

                            <textarea class="govuk-textarea"
                                      id="UnsuccessfulText"
                                      name="UnsuccessfulText"
                                      asp-for="UnsuccessfulText"
                                      rows="10"
                                      maxlength="@OversightSettings.TextAreaMaxLength"
                                      aria-describedby="UnsuccessfulText-error">@Model.UnsuccessfulText</textarea>
                        </div>

                        <div class="govuk-form-group das-reveal__conditional--hidden" data-module="das-reveal" id="conditional-UnsuccessfulExternalText">
                            <a name="OptionUnsuccessfulExternalText"></a>
                            <label class="govuk-label" for="UnsuccessfulExternalText">
                                Add your external comments
                            </label>
                            <div class="govuk-hint" id="UnsuccessfulExternalText-hint">
                                These comments will be seen by the applicant. Only fill in if you have overturned an outcome.
                            </div>
                            <span das-validation-for="UnsuccessfulExternalText" class="govuk-error-message"></span>
                            <textarea class="govuk-textarea"
                                      id="UnsuccessfulExternalText"
                                      name="UnsuccessfulExternalText"
                                      asp-for="UnsuccessfulExternalText"
                                      rows="10"
                                      maxlength="@OversightSettings.TextAreaMaxLength"
                                      aria-describedby="UnsuccessfulExternalText-hint UnsuccessfulExternalText-error">@Model.UnsuccessfulExternalText</textarea>
                        </div>
                    </div>
                    @if (Model.IsNew)
                    {
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input"
                                   type="radio"
                                   id="OptionInProgress"
                                   asp-for="OversightStatus"
                                   value=@OversightReviewStatus.InProgress
                                   data-aria-controls="conditional-OptionInProgress" />
                            <label class="govuk-label govuk-radios__label" for="OptionInProgress">
                                Set to 'in progress'
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionInProgress">
                            <div class="govuk-form-group">
                                <a name="OptionInProgressInternalText"></a>
                                <label class="govuk-label" for="InProgressInternalText">
                                    Add your internal comments
                                </label>
                                <span das-validation-for="InProgressInternalText" class="govuk-error-message"></span>
                                <textarea das-highlight-error-for="InProgressInternalText" error-class="govuk-textarea--error" class="govuk-textarea"
                                          id="InProgressInternalText"
                                          name="InProgressInternalText"
                                          asp-for="InProgressInternalText"
                                          rows="10"
                                          maxlength="@OversightSettings.TextAreaMaxLength"
                                          aria-describedby="InProgressInternalText-error">@Model.InProgressInternalText</textarea>
                            </div>
                            <div>
                                <div class="govuk-form-group">
                                    <a name="OptionInProgressExternalText"></a>
                                    <label class="govuk-label" for="InProgressExternalText">
                                        Add your external comments
                                    </label>
                                    <div id="InProgressExternalText-hint" class="govuk-hint">
                                        These comments will be seen by the applicant.
                                    </div>
                                    <span das-validation-for="InProgressExternalText" class="govuk-error-message"></span>
                                    <textarea class="govuk-textarea"
                                              das-highlight-error-for="InProgressExternalText" error-class="govuk-textarea--error"
                                              id="InProgressExternalText"
                                              name="InProgressExternalText"
                                              asp-for="InProgressExternalText"
                                              rows="10"
                                              maxlength="@OversightSettings.TextAreaMaxLength"
                                              aria-describedby="InProgressExternalText-hint InProgressExternalText-error">@Model.InProgressExternalText</textarea>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
        </div>
        
        @if (Model.IsGatewayFail || Model.IsGatewayRemoved)
        {
            <button class="govuk-button" type="submit" data-module="govuk-button" name="SelectedOption" value="@OutcomePostRequest.SubmitOption.SubmitGatewayOutcome">
                Save and continue
            </button>
        }
        else
        {
            <button class="govuk-button" type="submit" data-module="govuk-button" name="SelectedOption" value="@OutcomePostRequest.SubmitOption.SubmitOutcome">
                Save and continue
            </button>
  
        }
    </div>
</div>